i {
    font-size: 16px;
    &.red {
        color: red;
    }

    &.orange {
        color: #ffbf00;
    }
}
.mat-mdc-unelevated-button:not(:disabled) {
    background-color: #2b9e69;
}

::ng-deep {
    .mdc-text-field--outlined {
        height: 47px !important;
    }
}
